<!-- {% block title %}Login{% endblock %}

{% block content %} -->
<head>
  <style>
   body {
    color: red;
    background-color: #8080ff;
    text-align: center;
    font-family: Georgia, serif;
    } 
    
    td {
      text-align:center
    }
  </style>
</head>
  <h2>Login</h2>
  <body>
    <form method="post">
      {% csrf_token %}
      <table>
        {{ form.as_p }}
        <tr>
          <!-- <td>&nbsp;</td> -->
          <td><input type="submit" value="Submit"></td>
        </tr>                
      </table>
    </form>
  </body>
{% endblock %}